.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    button{
        margin: 1rem auto;
        background-color: #EF6060FD;
        padding: 1rem 2rem;
        border: none;
        outline: none;
        color: white;
        font-weight: bolder;
        font-size: 1rem;
        border-radius: 5px;
        &:hover{
            cursor: pointer;
            background-color: darken( #EF6060FD, 5%);
        }
    }
}