.star-container{
    h1{
        text-transform: uppercase;
        text-align: center;
        color: #5060C3;
        font-size: 20px;
    }
    &__items{
        width: 500px;
        display: flex;
        justify-content: space-around;
        background-color: #EF6060FD;
        border-radius: 5px;
        span { 
            font-size: 60px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
                cursor: pointer;
                background-color: darken( #EF6060FD, 5%);
                opacity: .5;
            }
        }
    }
}

